@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
	background-color: orange;
}

.das {
	border: 10px solid black;
	padding: 40px;
	font-size: 30px;
	font-family: tahoma;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 20px 300px pink;
}

.das img {
	border-radius: 234px;
	
}
.menu {
	text-align: center;
	color: black;
	padding: 10px;
}
.menu a {
	color: orange;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-decoration: none;
	background-color: black;
	padding: 10px 50px;
	margin: 10px;
	border-radius: 30px;
	transition: 0.3s;
}
.menu a:hover {
	background-color: white;

}
.contact {
	display: none;

}