@import url('https://fonts.googleapis.com/css2? family= Montserrat+Alternates:wght@900 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
	padding: 0;
	margin: 0;

}
.header {
	height: 100vh;
	background-color: whitesmoke;
	/*font-family: 'Montserrat Alternates', sans-serif;*/
	font-family: tahoma;
	font-weight: bold;
}
.header-title {
	font-size: 150px;
	margin: auto;
	width: fit-content;
}
.title {
	position: relative;
	color: black;
	/*top: 50px;*/
	right: 20px;
	z-index: 3;
	animation: jump 4s ease 0s infinite ;
}

.title-red {
	position: relative;
	color: red;
	opacity: 0.5;
	z-index: 2;
	animation: jump 3s ease 0s infinite alternate;
	bottom: 150px;
}
.title-blue {
	position: relative;
	color: blue;
	bottom: 300px;
	left: 20px;
	opacity: 0.5;
	z-index: 1;
	animation: jump 3s ease 1s infinite reverse;
}
@keyframes jump {
	0% {
		transform: translate(0,0);

	}
	50% {
		transform: translate(-20px,20px);
	}
	100% {
		transform: translate(0,0);
	}
}
.header-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: black;
	color: white;
	height: 50px;
	width: 300px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	z-index: 4;
	transition: 0.5s;
}
.header-btn:hover {
	background-color: white;
	color: black;
	border: 2px solid black;
}
.header-btn-red {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%,-40%);
	background-color: blue;
	height: 50px;
	width: 300px;
	opacity: 0.5;
}
.header-btn-blue {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-60%,-60%);
	background-color: red;
	height: 50px;
	width: 300px;
	opacity: 0.5;
	z-index: 3;
}
.articles-container {
	width: 1000px;
	padding: 30px;
	margin: auto;
	box-sizing: border-box;
}
.article {
	font-family: 'Roboto', sans-serif;
	border: 2px solid black;
	margin-top: 100px;
}
.article-title {
	text-align: center;
	font-size: 30px;
	background-color: black;
	color: white;
	padding: 10px;
	position: sticky;
	top: 0px;
	z-index: 10;
}
.article-category {
	background-color: tomato;
	text-align: center;
	font-size: 25px;
	text-decoration: underline;
	padding: 10px;
}
.article-img {
	width: 100%;
	filter: opacity(0.9) brightness(1.1);
	position: sticky;
	top: 0px; 
}
.article-text {
	padding: 40px;
	position: relative;
	z-index: 9;
	background-color: white;
}
.go-up-btn {
	position: fixed;
	background-color: black;
	color: white;
	bottom: 40px;
	right: 40px;
	padding: 10px 20px;
	border-radius: 30px;
	box-shadow: 0px 5px 10px gray;
}